@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner-section{
    height: 100vh;
    display: flex;
    align-items: center;
}
.half-div{
    width: 50%;
    padding: 50px;
}
.half-div h1{
    font-size: 45px;
    color:rgb(144, 154, 163)
}
.half-div h1 span{
    color: rgb(42, 178, 231);
}
.half-div p{
    margin: 20px 0;
    text-align: justify;
    line-height: 27px;
    padding-right: 70px;
}
.order-btn{
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-image: linear-gradient( to right , rgb(53, 119, 145) ,rgb(38, 186, 235));
    margin-top: 20px;
}
.img-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boy-img{
    width: 80%;
    height: 80%;
}
/* ---------------- about section -------------- */
.about-section{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.female-img{
    width: 50%;
    height: 80%;
}
/* ------------------ third div --------------- */
.recipies-div{
    text-align: center;
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}
.recipies-div h1{
    font-size: 30px;
    color:rgb(144, 154, 163)
}
.recipies-div p{
    padding: 20px;
}